:host {
  position: absolute;
  // top: 80px;
  top: 0;
  bottom: 0;
  inset-inline-start: 0; // for left in ltr and right in rtl, like "left: 0", but better
  inset-inline-end: 0; // for right in ltr and left in rtl, like "right: 0", but better
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .busy-text {
      font-size: 20px;
      // text-align: center;
      color: var(--p-40);
    }
  }
}
