<h1>
  {{ store.title() }}
  @for (record of store.captionColors(); track $index) {
    @if ($index > 0) {
      @if ($last) {
        and
      } @else {
        ,
      }
    }
    {{ record.name }}
    <span class="color-item" [style.background]="record.key"></span>
  }
  ?
</h1>
<div class="answers">
  @for (answer of store.answerColors(); track $index) {
    <div class="answer" (click)="this.store.addAnswer($index)">
      <div class="thumbnail" [style.background]="answer.key"></div>
      <div class="caption">{{ answer.name }}</div>
    </div>
  }
</div>
