:host {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background-color: var(--mat-sys-primary-container);
  // background-color: var(--p-90);
  padding: 20px;
  font-size: 28px;
  border-bottom: 1px solid var(--mat-sys-outline);
  box-shadow: var(--mat-sys-level1);
  color: var(--mat-sys-on-primary-container);
  font-weight: bold;

  .brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    mat-icon {
      // width: auto;
      // height: auto;
      font-size: 40px;
      margin-inline-end: 10px;
    }
  }

  .actions {
    margin-inline-start: auto;
    display: flex;
    flex-direction: row;
  }
}
