<app-toolbar caption="Colors Quiz" icon="palette">
  <app-flag
    [of]="appStore.selectedLanguage()"
    (click)="appStore.changeLanguage()"
  ></app-flag>
  <button matIconButton matTooltip="Reset Quiz" (click)="store.resetQuiz()">
    <mat-icon>restart_alt</mat-icon>
  </button>
  <button
    matIconButton
    matTooltip="Generate New Quiz"
    (click)="store.generateNewQuiz()"
  >
    <mat-icon>auto_fix_high</mat-icon>
  </button>
</app-toolbar>
<div class="main">
  @if (store.isBusy()) {
    <app-busy />
  }
  @if (store.isDone()) {
    <app-done
      [correct]="store.correctCount()"
      [total]="store.questionsCount()"
    />
  } @else {
    <app-progress
      [value]="store.currentQuestionIndex()"
      [max]="store.questionsCount()"
    />
    <app-question-presenter />
  }
</div>
